#mainNav {
  background-color: #222222;
  border-color: transparent;
}
#mainNav .navbar-toggle {
	background-color: #1c4563; /*#fed136;*/
	border-color: #1c4563;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
#mainNav .navbar-toggle:hover,
#mainNav .navbar-toggle:focus {
	background-color: #1c4563; /*#fed136;*/
}
#mainNav .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
#mainNav .nav li a:hover,
#mainNav .nav li a:focus {
	background-color: #1c4563; /*#fed136;*/
	color: #cdcbc8;
  outline: none;
}
#mainNav .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #1c4563; /*#fed136;*/
}
#mainNav .navbar-nav > .active > a:hover,
#mainNav .navbar-nav > .active > a:focus {
	color: white;
	background-color: #27628b; /*#fec503;*/
}
@media (min-width: 768px) {
  #mainNav {
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  #mainNav .navbar-nav > .active > a {
    border-radius: 3px;
  }
}

section {
	padding: 100px 0 50px 0;
}
section h3.section-subheading-short {
	margin-bottom: -5px;
}
section h6.section-subheading {
	font-style: italic;
	text-transform: none;
	font-size: 12px;
	font-weight: 200;
	margin-bottom: 50px;
}
#portfolio {
	margin-top: -10px;
}
#articles {
	margin-top: 50px;
}

.list-hidee {
	text-align: center;
	display: none;
}
@media screen and (min-width: 48em){
	.list-hidee {
		text-align: right;
		display: block;
	}
	.list-hidee.list-left {
		text-align: left;
	}
}

.list-spacer {
	margin-bottom: 20px;
}
@media (min-width: 768px) {
.list-spacer {
	margin-bottom: 50px;
}
}

.timeline h3 {
	text-align: center;
}
.timeline-inverted h3 {
	text-align: center;
}
.timeline > li {
	margin-bottom: -100px;
}

.list-subheading {
	font-size: 16px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	font-style: italic;
	font-weight: 400;
	margin-top: 25px;
}
.list-first {
	margin-top: 15px;
}
.list-subheading ~ a {
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
}
.list-subheading ~ a:hover,
.list-subheading ~ a:focus,
.list-subheading ~ a:active,
.list-subheading ~ a.active {
	color: #c1a157;
}
